.matero-header {
  --mat-toolbar-container-background-color: transparent;

  position: relative;
  z-index: 200;
  display: block;
  background-color: rgb(255 255 255 / 0.5);
  backdrop-filter: blur(12px);

  .theme-dark & {
    background-color: rgb(5 22 26 / 0.5);
  }
}