@use '../../../styles/grid/breakpoints';



.matero-sidebar-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 1rem 0.5rem;
  overflow: visible !important;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include breakpoints.bp-lt(small) {
    height: auto;
  }
}