<page-header title="Profile" [hideBreadcrumb]="true" />

<div class="row">
  <div class="col-12">
    <div class="d-flex align-items-center justify-content-start m-b-16 profile-action-bar">
      <a mat-button routerLink="/profile/overview" class="m-r-8">
        <mat-icon>account_circle</mat-icon>
        {{ 'profile' | translate }}
      </a>
      <a mat-button routerLink="/profile/settings" class="m-r-8">
        <mat-icon>edit</mat-icon>
        {{ 'edit_profile' | translate }}
      </a>
    </div>

    <router-outlet />
  </div>
</div>
